.profile__avatar-button {
  z-index: 0;
  position: relative;
  width: 100%;
  border-radius: 50%;
  padding: 0 ;
  border: none;
  grid-area: avatar;
  background-color: black;
  cursor: pointer;
  outline: none;
}

.profile__avatar-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/edit-icon.svg);
  background-size: 25%;
  transition-duration: 0.5s;
}

.profile__avatar-button:hover:after, .profile__avatar-button:focus:after {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .profile__avatar-button {
    margin: 0;
  }
}

/*.profile__avatar-button {
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 50%;
  outline: none;
}

.profile__avatar-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image:  url(../../../images/edit-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.profile__avatar-button:hover:after, .profile__avatar-button:focus:after {
  opacity: 1;
}

@media screen and (max-width:900px) {
  .profile__avatar-button {
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  .profile__avatar-button {
    margin-bottom: 14px;
  }
}*/
