@import url(./__close/form__close.css);
@import url(./__title/form__title.css);
@import url(./__name/form__name.css);
@import url(./__about/form__about.css);
@import url(./__save/form__save.css);
@import url(./_action/form_action_popup.css);

.form {
  border: solid red;
  z-index: 3;
  overflow: visible;
  display: none;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin: auto;
  width: 430px;
  height: 330px;
}

