@import url(./__close/form__close.css);
@import url(./__title/form__title.css);

@import url(./__save/form__save.css);


.form {
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 25%;
  display: none;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin: 0;
  width: 430px;
  height: 330px;
  overflow: visible;
}

@media screen and (max-width: 320px) {
  .form {
    width: 90%;
    top: -40px;
    left: 16px;

  }
}

