.card__delete {
  position: absolute;
  border: none;
  right: 17px;
  top: 19px;
  background-image: url(../../../images/delete.svg);
  background-color: transparent;
  background-size: content;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  z-index: 3;
  width: 18px;
  height: 20px;
  cursor: pointer;
  outline: none;
}

.card__delete:hover {
  transition-duration: 0.5s;
  opacity: 0.6;
}
