@import url(./__avatar/profile__avatar.css);
@import url(./__name/profile__name.css);
@import url(./__about/profile__about.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  display: grid;
  grid-template-columns: 15% 43% 1% 41%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "avatar name edit add"
    "avatar about . ." ;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  margin-bottom: 51px;
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-areas:
    "avatar name edit ."
    "avatar about add add";
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 320px) {
    .profile {
    grid-template-columns: 90% auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "avatar avatar"
      "name edit"
      "about about"
      "add add";
  }
}
