
.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  margin: 0 auto 41px;
  width: 880px;
  padding-bottom: 42px;
}

@media (max-width: 1024px) {
  .header {
    width: 80%;
    padding-bottom: 30px;
  }
}

@media (max-width : 320px) {
  .header {
    width: 100%;
    margin: 0 0 45px;
  }
}
