
.popup__form {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin: 0;
  width: 430px;
  height: auto;
  overflow: visible;
  padding-bottom: 36px;
  margin: auto;
}

@media screen and (max-width: 320px) {
  .popup__form {
    width: 90%;
  }
}

