.elements {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 18px;
}

@media screen and (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
