.logo {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 173px;
  height: 33px;
}

@media (max-width: 320px) {
  .logo {
    position: absolute;
    left: 27px;
    top: 0;
    width: 126px;
    height: 24px;
  }
}
