@import url(./__form/popup-add__form.css);
@import url(./__form-close/popup-add__form-close.css);
@import url(./__form-input/popup-add__form-input.css);
@import url(./__form-save/popup-add__form-save.css);
@import url(./__form-title/popup-add__form-title.css);

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.popup-add {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  animation: fade 0.5s;
}

