.zoom__close {
  float: left;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../../../images/CloseIcon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;


  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.zoom__close:active {
  transform: rotate(45deg);
}

.zoom__close:hover {
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .zoom__close {
    margin-top: -40px;
    margin-left: 90%;
  }
}

@media screen and (max-width: 320px) {
  .zoom__close {
    margin-top: -60px;
    margin-left: 85%;
  }
}
