.profile__avatar {
  z-index: 0;
  outline: none;
  max-height: 130px;
  max-width: 130px;
  border-radius: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .profile__avatar {
    max-width: 50%;
  }
}

@media (max-width: 320px) {
  .profile__avatar {
    margin: 0 auto 30px;
  }
}
