@import url(./__name/info__name.css);
@import url(./__about/info__about.css);
@import url(./__edit-button/info__edit-button.css);
@import url(./__add-button/info__add-button.css);


.info {
  display: grid;
  grid-template-columns: 90% 1fr;
  grid-template-rows: auto , 2fr;
  margin-top: auto;
  margin-bottom: auto;
  width: 415px;
  height: 77px;
}

@media screen and (max-width: 320px) {
  .info {
    width: 80%;
    display: grid;
    grid-template-columns: 85% 1fr;
    grid-template-rows: auto , 2fr;
    grid-gap: 14px;
  }
}
