.popup-add__form-save {
  margin: 48px auto auto;
  background-color: #000;
  border-radius: 2px;
  width: 85%;
  height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.popup-add__form-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .popup-add__form-save {
    font-size: 14px;
    line-height: 17px;
  }
}
