.card__like {
 position: absolute;

 bottom: 0;
 right: 0;
 z-index: 1;
 padding-right: 0;
 width: 21px;
 height: 20px;
 background-image: url(../../../images/like.svg);
 background-repeat: no-repeat;
 background-color: transparent;
 border: none;
}
