.card__like {

  margin-top: 30px;
  width: 21px;
  height: 20px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.4;
}
