@import url(./__image/card__image.css);
@import url(./__caption/card__caption.css);
@import url(./__like/card__like.css);

.card {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  z-index: 1;
  background-color: #fff;
  border-radius: 10px;
  width: 280px;
  padding-bottom: 22px;
  margin: auto;
}


