@import url(./__close/form__close.css);
@import url(./__field/form__field.css);
@import url(./__input/form__input.css);
@import url(./__input-error/form__input-error.css);
@import url(./__save/form__save.css);
@import url(./__title/form__title.css);

.form {
  z-index: 3;
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 430px;
  height: auto;
  overflow: visible;
  padding-bottom: 36px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 320px) {
  .form {
    width: 90%;
  }
}

