.edit-modal__form-close {
  background-image: url(../../../images/CloseIcon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-top: -40px;
  margin-left: 430px;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.edit-modal__form-close:active {
  transform: rotate(45deg);
}

.edit-modal__form-close:hover {
  opacity: 0.4;
}

.edit-modal__form-close:focus {
  outline: 0;
}

@media screen and (max-width: 768px) {
  .popup-edit__form-close {
    margin-top: -40px;
    margin-left: 90%;
  }
}

@media screen and (max-width: 320px) {
  .popup-edit__form-close {
    margin-top: -60px;
    margin-left: 85%;
  }
}
